process {
    withName:star_indexer {
        executor='slurm'
        queue="${params.queue_web}"
        cpus=2
        memory='20GB'
        time='6h'
        container = "${params.image_folder}star-2.7.11b.sif"
        containerOptions = "${params.extra_mounts} -B ${params.genomes}:/genomes"
    }
    
    withName:flagstat {
        executor='slurm'
        queue="${params.queue_web}"
        cpus=1
        memory='20GB'
        time='1h 59m'
        container = "${params.image_folder}samtools-1.16.1.sif"
        containerOptions = "${params.extra_mounts} -B ${params.project_folder}:/workdir -B ${params.genomes}:/genomes"
    }

}
