process {
    withName:star_indexer {
        executor='slurm'
        queue="${params.queue}"
        cpus=12
        memory='80GB'
        time='6h'
        container = "${params.image_folder}star-2.7.11b.sif"
        containerOptions = "${params.extra_mounts} -B ${params.project_folder}:/workdir"
    }
    
    withName:rename_sample {
        executor='slurm'
        queue="${params.queue}"
        cpus=1
        memory='8GB'
        time='2h'
        container = "${params.image_folder}rnaseq.python-3.8-1.sif"
        containerOptions = "${params.extra_mounts} -B ${params.project_folder}:/workdir"
    }
    
}
